global
    daemon
    maxconn 256

defaults
    mode http
    option httplog
    timeout connect 5s
    timeout client 50s
    timeout server 50s

# Tell HAProxy where Docker's internal DNS server is (always at 127.0.0.11)
resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold other      10s
    hold refused    10s
    hold nx         10s
    hold timeout    10s
    hold valid      10s
    accepted_payload_size 8192

frontend smartmedix_front
    bind *:80
    default_backend smartmedix_backend

backend smartmedix_backend
    balance leastconn
    
    option httpchk GET /api/health
    http-check expect status 200

    default-server inter 5s fall 3 rise 2

    # Dynamically create up to 5 slots. 
    # HAProxy will use Docker DNS to find the active IPs and route to them.
    server-template app 1-5 app:8080 check resolvers docker init-addr libc,none

